body{
  background-color: #000000;
  text-align: center;
}

.atm_body{
  border: 0.5em outset #212F3D;
  /* border-color: #85929E; */
  /* border-width: 0.1em; */
  height: 80%;
  width: 55%;
  margin: 5em auto;
  background-color: #566573;
}

h1{
  font-family: monospace;
  color: #FCF3CF;
  margin: 0.5em auto 0 auto;
  line-height: normal;
  font-size: 3vw;
}

.upper_half{
  margin: 0.5em auto;
  display: flex;
  width: 100%;
  height: 50%;
  text-align: center;
}

.atm_screen{
  border: solid #ffffff;
  border-color: #7F8C8D;
  width: 45em;
  height: 11vw;
  background-color: white;
  padding-top: 1.875em;
  text-align: center;
  font-size: 2vw;
  margin-top: 1vw;
  font-weight: bold;
}

/**************************** styling for the onscreen buttons ***********************/
.screen_buttons{
  display: inline-block;
  border-style: outset;
  border-color: #808080;
  color: #000000;
  width: 7vw;
  height: 3.5vw;
  margin: 0.7vw 0 0 0;
  font-size: 1.5vw;
  text-align: center;
  padding-top: 0.2vw;
  text-decoration: none;
  background-color: #D6DBDF;
}

.button_style1, .button_style2{
  width: 10vw;
  margin-bottom: 0.5vw;
}

.lower_half{
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: 50%;
  text-align: center;
}

.numeric_keypads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2px 2px;
}

.zero{
  grid-column-start: 2;
}

.button{
  width: 13vw;
  height: 5vw;
  font-size: 3vw;
  margin: 0.3em 0.5em 0 0.5em;
  background-color: #D6DBDF;
  display: block;
}

.numeric_buttons{
  width: 8vw;
  height: 5vw;
  margin: 0.2em;
  font-style: italic;
  font-size: 3vw;
  background-color: #D6DBDF;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
  background-color: green;
}
